<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>p2.1</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div>{{leds[index]}}</div>
        <template v-if="index==2">
            <div style="background-color: red;width: 40px;height: 40px;">
        </template>
        <template v-else>
            <div style="background-color: gray;width: 40px;height: 40px;">
        </template>
        <template v-if="index==1">
            <div style="background-color: yellow;width: 40px;height: 40px;">
        </template>
        <template v-else>
            <div style="background-color: gray;width: 40px;height: 40px;">
        </template>
        <template v-if="index==0">
            <div style="background-color: green;width: 40px;height: 40px;">
        </template>
        <template v-else>
            <div style="background-color: gray;width: 40px;height: 40px;">
        </template>
        <button @click="changeLed">เปลี่ยนไฟ</button>
    </div>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                index: 0,
                leds: ["green", "yellow", "red"]
            },
            methods: {
                changeLed: function () {
                    this.index++;
                    if (this.index > 2) this.index = 0;
                }
            }
        });
    </script>
</body>

</html>