<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>p2.1</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div>{{leds[nowSelect]}}</div>
        <div v-for="(item, index) in leds" :key="index">
            <template v-if="index == nowSelect">
                <div :style="{backgroundColor : item,width : '75px',height: '75px',margin: '10px'} "></div>
            </template>
            <template v-else>
                <div :style="{backgroundColor : 'gray',width : '75px',height: '75px',margin: '10px'} "></div>
            </template>
        </div>
        <button @click="changeLed">เปลี่ยนไฟ</button>
    </div>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                nowSelect: 2,
                leds: ["red", "yellow", "green"]
            },
            methods: {
                changeLed: function () {
                    this.nowSelect--;
                    if (this.nowSelect < 0) this.nowSelect = 2;
                }
            }
        });
    </script>
</body>

</html>