<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>P3.1</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>

  <body>
    <div id="app">
      <input type="number" v-model="liter" /><br><br>

      <!-- Loop to creat radio button -->
      <div v-for="(oilList,index) in oilPrices" :key="index">
        <input type="radio" :value="index" v-model="picked" />
        <label>{{oilList.oil}}</label>
      </div><br>
      <!-- show oil pick by watch -->
      <span>Picked : {{oilPick.oil}} {{ oilPick.cost }} บาท/ลิตร</span>

      <!-- show liter by v-model -->
      <div>จำนวน {{ liter }} ลิตร</div>

      <!-- update one time prize by watch picke and liter -->
      <div>ราคารวม {{ oneTimePrice }} บาท</div><br>
      <button @click="paid">จ่ายเงิน</button>

      <h2>ยอดรวม {{totalPrice}} บาท</h2>
      <div v-for="(paid, index) in paidHistory">
        {{index+1}}.{{paid.oil}}({{paid.cost}}) : {{paid.totalPrice}}
      </div>
    </div>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          picked: null,
          oilPick: {
            id: null,
            oil: null,
            cost: null
          },
          liter: 0,
          oneTimePrice: 0,
          totalPrice: 0,
          paidHistory: [],
          oilPrices: [
            {
              id: 1,
              oil: "แก๊สโซฮอล์ 95",
              cost: 26.45
            },
            {
              id: 2,
              oil: "แก๊สโซฮอล์ 91",
              cost: 26.18
            },
            {
              id: 3,
              oil: "แก๊สโซฮอล์ E20",
              cost: 23.44
            },
            {
              id: 4,
              oil: "แก๊สโซฮอล์ E85",
              cost: 19.04
            },
            {
              id: 5,
              oil: "เบนซิน 95",
              cost: 33.86
            },
            {
              id: 6,
              oil: "ดีเซล",
              cost: 27.39
            },
            {
              id: 7,
              oil: "ดีเซล B10",
              cost: 25.39
            },
            {
              id: 8,
              oil: "ดีเซล B20",
              cost: 24.39
            },
            {
              id: 9,
              oil: "ดีเซลพรีเมี่ยม",
              cost: 31.24
            },
            {
              id: 10,
              oil: "แก๊ส NGV",
              cost: 15.62
            }
          ]
        },
        watch: {
          // update picked and one time price
          picked: function(val) {
            this.oilPick = this.oilPrices[this.picked];
            this.oneTimePrice = this.oilPick.cost * this.liter;
          },
          // updateone time price
          liter: function(val) {
            this.oneTimePrice = this.oilPick.cost * this.liter;
          }
        },
        methods: {
          //creat bill object and add in to array
          //and update total price
          paid: function() {
            var oneTimepaid = {
              oil: "",
              cost: 0,
              totalPrice: 0
            };
            oneTimepaid.oil = this.oilPick.oil;
            oneTimepaid.cost = this.oilPick.cost;
            oneTimepaid.totalPrice = this.oneTimePrice;
            this.totalPrice += this.oneTimePrice;
            this.paidHistory.push(oneTimepaid);
          }
        }
      });
    </script>
  </body>
</html>
